@media screen and (max-width: 1025px){
    .field{
        width: 100vw;
        height: 100vh;
        background-image: url("/immagini/background.jpg");
        background-size: cover;
    }
    .poison{
        position: absolute;
        bottom: 17%;
        right: 25%;
        font-size: 17px;
        background-color: rgb(8, 61, 1);
        color: green;
        z-index: 10;
    }
    .heal{
        position: absolute;
        top: 80%;
        left: 27%;
        font-size: 17px;
        background-color: rgb(52, 136, 19);
        color: white;
        z-index: 10;
    }
    .giocatore{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 20%;
        top: 40%;
    }
    .enemy{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico1.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy2{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico2.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy3{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico3.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .boss{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/boss.png");
        background-size: contain;
        height: 250px;
        width: 250px;
    }
    .fs-message{
        font-size: 20px;
        
    }
    .btn{
        border: none;
        border-radius: 10px;
        width: 20vw;
    }
    .p1-btn{
        position: absolute;
        bottom: 10px;
        right: auto;
    }
}
@media screen and (max-height:700px){
    .field{
        width: 100vw;
        height: 100vh;
        background-image: url("/immagini/background.jpg");
        background-size: cover;
    }
    .gold{
        color: gold;
        margin: auto;
        font-size: 10px;
    }
    .poison{
        position: absolute;
        bottom: 17%;
        right: 15%;
        font-size: 17px;
        background-color: rgb(8, 61, 1);
        color: green;
        z-index: 10;
    }
    .heal{
        position: absolute;
        top: 80%;
        left: 27%;
        font-size: 17px;
        background-color: rgb(52, 136, 19);
        color: white;
        z-index: 10;
    }
    .giocatore{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 20%;
        top: 40%;
    }
    .dmg-message{
        position: absolute;
        top: 40%;
        left: 35%;
        font-size: 15px;
        color: rgb(255, 14, 14);
        z-index: 10;
    }
    .dmg-message2{
        position: absolute;
        top: 40%;
        right: 40%;
        font-size: 15px;
        color: rgb(255, 14, 14);
        z-index: 10;
    }
    .box{
        position: absolute;
        top: 25%;
        left: 25%;
        height: 50px;
        width: 100px;
        border: solid;
        border-width: 3px;
        border-color: rgb(229, 255, 0);
        background-color: darkblue;
        border-radius: 100%;
    }
    .box2{
        position: absolute;
        top: 25%;
        right: 25%;
        height: 50px;
        width: 100px;
        border: solid;
        border-width: 3px;
        border-color: rgb(229, 255, 0);
        background-color: darkblue;
        border-radius: 100%;
    }
    .enemy{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico1.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy2{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico2.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy3{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico3.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .boss{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/boss.png");
        background-size: contain;
        height: 250px;
        width: 250px;
    }
    .fs-message{
        font-size: 20px;
        
    }
    .btn{
        border: none;
        border-radius: 10px;
        width: 17vw;
    }
    .p1-btn{
        position: absolute;
        bottom: 10px;
        right: auto;
    }
}
@media screen and (max-width: 700px){
    .poison{
        position: absolute;
        bottom: 14%;
        right: 25%;
        font-size: 12px;
        background-color: rgb(8, 61, 1);
        color: green;
        z-index: 10;
    }
    .heal{
        position: absolute;
        top: 80%;
        left: 30%;
        font-size: 12px;
        background-color: rgb(52, 136, 19);
        color: white;
        z-index: 10;
    }
.giocatore{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 25%;
    top: 40%;
}
.gold{
    color: gold;
    margin: auto;
    font-size: 10px;
}
.dmg-message{
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 15px;
    color: rgb(255, 14, 14);
    z-index: 10;
}
.dmg-message2{
    position: absolute;
    top: 40%;
    right: 40%;
    font-size: 15px;
    color: rgb(255, 14, 14);
    z-index: 10;
}
.enemy{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    right: 50px;
}
.enemy2{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    right: 50px;
}
.enemy3{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico3.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    right: 50px;
    /* background-color: unset ; */
}
.boss{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/boss.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: relative;
    right: 50px;
}
.fs-message{
    font-size: 15px;
    
}
.btn{
    border: none;
    border-radius: 10px;
    width: 17vw;
}
.p1-btn{
    position: absolute;
    right: auto;
}
}
@media screen and (max-height:320px){
    .poison{
        position: absolute;
        bottom: 10%;
        right: 25%;
        font-size: 12px;
        background-color: rgb(8, 61, 1);
        color: green;
        z-index: 10;
    }
    .heal{
        position: absolute;
        top: 85%;
        left: 30%;
        font-size: 12px;
        background-color: rgb(52, 136, 19);
        color: white;
        z-index: 10;
    }
    .btn{
        border: none;
        border-radius: 10px;
        width: 17vw;
        height: 30px;
        margin-bottom: 2px !important;
        position: relative;
        top: 10px;
    }
    .dmg-message{
        position: absolute;
        top: 40%;
        left: 40%;
        font-size: 15px;
        color: rgb(255, 14, 14);
        z-index: 10;
    }
    .box{
        position: absolute;
        top: 20%;
        left: 30%;
        height: 50px;
        width: 100px;
        border: solid;
        border-width: 3px;
        border-color: rgb(229, 255, 0);
        background-color: darkblue;
        border-radius: 100%;
    }
    .box2{
        position: absolute;
        top: 20%;
        right: 25%;
        height: 50px;
        width: 100px;
        border: solid;
        border-width: 3px;
        border-color: rgb(229, 255, 0);
        background-color: darkblue;
        border-radius: 100%;
    }
}