@media screen and (max-width: 1025px){
    .field{
        width: 100vw;
        height: 100vh;
        background-image: url("/immagini/background.jpg");
        background-size: cover;
    }
    .giocatore{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 20%;
        top: 40%;
    }
    .enemy{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico1.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy2{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico2.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy3{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico3.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .boss{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/boss.png");
        background-size: contain;
        height: 250px;
        width: 250px;
    }
    .fs-message{
        font-size: 20px;

    }
    .atk{
        position: absolute;
        left: 30px;
        bottom: 90px;
    }
    .bg-green{
        background-color: rgb(52, 136, 19);
        width: 38vw;
        position: absolute;
        left: 50px;
        bottom: 50px;
    }
}
@media screen and (max-height:700px){
    .field{
        width: 100vw;
        height: 100vh;
        background-image: url("/immagini/background.jpg");
        background-size: cover;
    }
    .giocatore{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 20%;
        top: 40%;
    }
    .enemy{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico1.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy2{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico2.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .enemy3{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/nemico3.png");
        background-size: contain;
        height: 200px;
        width: 200px;
    }
    .boss{
        position: absolute;
        left: 60%;
        top: 40%;
        background-image: url("./immagini/boss.png");
        background-size: contain;
        height: 250px;
        width: 250px;
    }
    .fs-message{
        font-size: 20px;

    }
    .atk{
        position: absolute;
        left: 30px;
        bottom: 60px;
    }
    .bg-green{
        background-color: rgb(52, 136, 19);
        width: 38vw;
        position: absolute;
        left: 50px;
        bottom: 20px;
    }
}
@media screen and (max-width: 700px){
.giocatore{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 20%;
    top: 40%;
}
.gold{
    color: gold;
    margin: auto;
    font-size: 10px;
}
.dmg-message{
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 15px;
    color: rgb(255, 14, 14);
    z-index: 10;
}
.dmg-message2{
    position: absolute;
    top: 40%;
    right: 40%;
    font-size: 15px;
    color: rgb(255, 14, 14);
    z-index: 10;
}
.box{
    position: absolute;
    top: 25%;
    left: 20%;
    height: 50px;
    width: 100px;
    border: solid;
    border-width: 3px;
    border-color: rgb(229, 255, 0);
    border-radius: 100%;
}
.box2{
    position: absolute;
    top: 25%;
    right: 20%;
    height: 50px;
    width: 100px;
    border: solid;
    border-width: 3px;
    border-color: rgb(229, 255, 0);
    border-radius: 100%;
}
.enemy{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    right: 50px;
}
.enemy2{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    right: 50px;
}
.enemy3{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico3.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: relative;
    right: 50px;
    /* background-color: unset ; */
}
.boss{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/boss.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: relative;
    right: 50px;
}
.fs-message{
    font-size: 15px;
    
}
.bg-green{
    background-color: rgb(52, 136, 19);
    width: 20vw;
    position: relative;
    left: 30px;

}
.btn{
    border: none;
    border-radius: 10px;
    font-size: 15px !important;
}
.p1-btn{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
}
@media screen and (max-height:320px){
}