@media screen and (max-width: 1200px){
    .btn{
        position: relative;
        top:-100px;
        left: -80px;
    }
}
@media screen and (max-width: 1000px){
    .vita{
        font-size: 13px;
    }
    .pozioni{
        font-size: 13px;
        position: relative;
        top: -7px;
    }
    .livello{
        font-size: 13px;
        position: relative;
        top: -15px;
    }
    .giocatore{
        height: 150px;
        width: 150px;
        position: relative;
        left: 100px;
    }
    .personaggio{
        position: absolute;
        top: 25vh;
        left: 20vw;
    }
    .box{
        margin-left: 50px;
        height: 70px;
        width: 110px;
        border: solid;
        border-width: 5px;
        border-color: rgb(229, 255, 0);
        border-radius: 100%;
        position: relative;
        left: -100px;
    }
    .box2{
        margin-bottom: 30px;
        height: 70px;
        width: 100px;
        border: solid;
        border-width: 5px;
        border-color: rgb(229, 255, 0);
        border-radius: 100%;
        position: relative;
        left: 50px;
    }
    .nemico{
        position: absolute;
        top:20vh;
        right: 15vw;
    }
    .enemy{
        background-image: url("./immagini/nemico1.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 130px;
        width: 130px;
        position: relative;
        top: 20px;
    }
    .enemy2{
        background-image: url("./immagini/nemico2.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
        position: relative;
        top: 20px;
    }
    .enemy3{
        background-image: url("./immagini/nemico3.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
    }
    .boss{
        background-image: url("./immagini/boss.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
        position: relative;
        right: 50px;
        top: 30px;
    }
    .fs-message{
        font-size: 15px;
        
    }
    .btn{
        height: 25px;
        border: none;
        border-radius: 10px;
        font-size: 10px;
        position: relative;
        top:-100px;
        left: -140px;
    }
}
@media screen and (max-width: 700px){
    .vita{
        font-size: 10px;
    }
    .pozioni{
        font-size: 10px;
        position: relative;
        top: -10px;
    }
    .livello{
        font-size: 10px;
        position: relative;
        top: -20px;
    }
    .giocatore{
        height: 120px;
        width: 120px;
        position: relative;
        top:40px;
        left: 70px;
    }
    .personaggio{
        position: absolute;
        top: 25vh;
        left: 20vw;
    }
    .box{
        margin-left: 50px;
        height: 70px;
        width: 100px;
        border: solid;
        border-width: 4px;
        border-color: rgb(229, 255, 0);
        border-radius: 100%;
    }
    .box2{
        margin-bottom: 30px;
        height: 70px;
        width: 100px;
        border: solid;
        border-width: 4px;
        border-color: rgb(229, 255, 0);
        border-radius: 100%;
    }
    .nemico{
        position: absolute;
        top:20vh;
        right: 15vw;
    }
    .enemy{
        background-image: url("./immagini/nemico1.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
    .enemy2{
        background-image: url("./immagini/nemico2.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 120px;
        width: 120px;
        position: relative;
        top: -20px;
    }
    .enemy3{
        background-image: url("./immagini/nemico3.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 120px;
        width: 120px;
        position: relative;
        top: -20px;
    }
    .boss{
        background-image: url("./immagini/boss.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 130px;
        width: 130px;
    }
    .fs-message{
        font-size: 15px;
        
    }
    .btn{
        height: 25px;
        border: none;
        border-radius: 10px;
        font-size: 10px;
        position: relative;
        top:-100px;
        left: -100px;
    }
}
@media screen and (max-height:320px){
    .vita{
        font-size: 10px;
    }
    .pozioni{
        font-size: 10px;
        position: relative;
        top: -10px;
    }
    .livello{
        font-size: 10px;
        position: relative;
        top: -20px;
    }
    .giocatore{
        height: 120px;
        width: 120px;
        position: relative;
        top:40px;
        left: 70px;
    }
    .personaggio{
        position: absolute;
        top: 20vh;
        left: 20vw;
    }
    .box{
        margin-left: 50px;
        height: 70px;
        width: 100px;
        border: solid;
        border-width: 4px;
        border-color: rgb(229, 255, 0);
        border-radius: 100%;
    }
    .box2{
        margin-bottom: 30px;
        height: 70px;
        width: 100px;
        border: solid;
        border-width: 4px;
        border-color: rgb(229, 255, 0);
        border-radius: 100%;
    }
    .nemico{
        position: absolute;
        top:12vh;
        right: 15vw;
    }
    .enemy{
        background-image: url("./immagini/nemico1.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 100px;
    }
    .enemy2{
        background-image: url("./immagini/nemico2.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 120px;
        width: 120px;
        position: relative;
        top: -20px;
    }
    .enemy3{
        background-image: url("./immagini/nemico3.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 120px;
        width: 120px;
        position: relative;
        top: -20px;
    }
    .boss{
        background-image: url("./immagini/boss.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 130px;
        width: 130px;
    }
    .fs-message{
        font-size: 15px;
        
    }
    .btn{
        height: 25px;
        border: none;
        border-radius: 10px;
        font-size: 10px;
        position: relative;
        top:-100px;
        left: -100px;
    }
}