button:hover{
    background-color: rgb(22, 184, 22) !important;
}
.b{
    font-weight: bold;
}
.gold{
    color: gold;
    margin: auto;
}
.field{
    width: 100vw;
    height: 100vh;
    background-image: url("/immagini/background.jpg");
    background-size: cover;
}
.giocatore{
    position: relative;
    left: 150px;
    top: 50px;
}
.personaggio{
    position: absolute;
    top:20vh;
    left: 10vw;
}
.box{
    margin-left: 50px;
    height: 100px;
    width: 200px;
    border: solid;
    border-width: 7px;
    border-color: rgb(229, 255, 0);
    border-radius: 100%;
}
.box2{
    margin-bottom: 30px;
    height: 100px;
    width: 200px;
    border: solid;
    border-width: 7px;
    border-color: rgb(229, 255, 0);
    border-radius: 100%;
}
.bg-green{
    background-color: rgb(52, 136, 19);
}
.nemico{
    position: absolute;
    top:20vh;
    right: 10vw;
}
.enemy{
    background-image: url("./immagini/nemico1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    position: relative;
    right: 50px;
}
.enemy2{
    background-image: url("./immagini/nemico2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    position: relative;
    right: 50px;
}
.enemy3{
    background-image: url("./immagini/nemico3.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    position: relative;
    right: 50px;
    /* background-color: unset ; */
}
.boss{
    background-image: url("./immagini/boss.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    position: relative;
    right: 50px;
}
.fs-message{
    font-size: 25px;
    
}
.btn{
    border: none;
    border-radius: 10px;
    position: relative;
    top: 30px;
}