button:hover{
    background-color: rgb(22, 184, 22) !important;
}
ul{
    list-style-type: none;
}
.b{
    font-weight: bold;
}
.gold{
    color: rgb(250, 220, 51);
    margin: auto;
}
.field{
    width: 100vw;
    height: 100vh;
    background-image: url("/immagini/background.jpg");
    background-size: cover;
}
.giocatore{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 20%;
    top: 40%;
}
.dmg-message{
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 30px;
    color: rgb(255, 14, 14);
    z-index: 10;
}
.dmg-message2{
    position: absolute;
    top: 40%;
    right: 40%;
    font-size: 30px;
    color: rgb(255, 14, 14);
    z-index: 10;
}
.box{
    position: absolute;
    top: 20%;
    left: 20%;
    height: 100px;
    width: 200px;
    border: solid;
    border-width: 7px;
    border-color: rgb(229, 255, 0);
    background-color: darkblue;
    border-radius: 100%;
}
.box2{
    position: absolute;
    top: 20%;
    right: 20%;
    height: 100px;
    width: 200px;
    border: solid;
    border-width: 7px;
    border-color: rgb(229, 255, 0);
    background-color: darkblue;
    border-radius: 100%;
}
.enemy1{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.enemy2{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.enemy3{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/nemico3.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}
.boss{
    position: absolute;
    left: 60%;
    top: 40%;
    background-image: url("./immagini/boss.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
}
.fs-message{
    font-size: 25px;
}
.poison{
    position: absolute;
    bottom: 17%;
    right: 25%;
    font-size: 17px;
    background-color: rgb(8, 61, 1);
    color: green;
    z-index: 10;
}
.heal{
    position: absolute;
    top: 80%;
    left: 27%;
    font-size: 17px;
    background-color: rgb(52, 136, 19);
    color: white;
    z-index: 10;
}
.btn{
    border: none;
    border-radius: 10px;
    width: 20vw;
}
.bg-green{
    background-color: rgb(52, 136, 19)
}
.p1-btn{
    position: absolute;
    bottom: 10px;
    right: auto;
}